<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.fewcode.admin.appSystem.mapper.AppUserMapper">

    <sql id="selectUser">
        SELECT id,
               create_user,
               create_time,
               update_user,
               update_time,
               username,
               nickname,
               password,
               gender,
               email,
               phone,
               avatar,
               description,
               status
        FROM sys_app_user as t1
    </sql>

    <select id="selectAppUserPage" resultType="top.fewcode.admin.appSystem.model.resp.user.AppUserDetailResp">
        <include refid="selectUser"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectAppUserList" resultType="top.fewcode.admin.appSystem.model.resp.user.AppUserDetailResp">
        <include refid="selectUser"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectCountByEmail" resultType="java.lang.Long">
        SELECT count(*)
        FROM sys_app_user
        WHERE email = #{email}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

    <select id="selectCountByPhone" resultType="java.lang.Long">
        SELECT count(*)
        FROM sys_app_user
        WHERE phone = #{phone}
        <if test="id != null">
            AND id != #{id}
        </if>
    </select>

</mapper>